.List{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
p{
    font-family: Roboto,arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
body{
    margin: 0;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 30px;
}